* {
  margin: 0;
  text-align: center;
  font-family: Happy Monkey;
  color: #0c0f0a;
}

#root {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(-45deg, #FF206E, #FBFF12, #41EAD4);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  margin: auto;
  border-radius: 50px 0 50px 0;
  padding: 0.6em 0.4em;
  background: #FF006E;
  font-size: 2.5rem;
  max-width: 80vw;
  color: #FFFFFF;
  box-shadow: 0 0 2px 4px #FFFFFF;
}

header {
  padding: 1.5em 0;
}

main {
  padding-bottom: 6em;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0.6em 0.4em;
  background: #3A86FF;
  color: #FFFFFF;
  max-width: 84vw;
  box-shadow: 0 0 2px 4px #FFFFFF;
}

label, input, .form-btn {
  margin: 0.3em auto;
}

label {
  color: #FFFFFF;
  font-size: 1.7rem;
}

input {
  border: none;
  border-radius: 5px;
  line-height: 2rem;
  max-width: 50%;
  font-size: 1rem;
}

.form-btn {
  border: none;
  border-radius: 50px;
  padding: 0.4em 0.8em;
  background: #FFBE0B;
  font-size: 1rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

footer {
  position: absolute;
  bottom: 0;
  background: #0c0f0a;
  height: 6em;
  width: 100%;
}