* {
  margin: 0;
  text-align: center;
  font-family: Happy Monkey;
  color: #333333;
}

#root {
  position: relative;
  background: #FFFFFF;
  min-height: 100vh;
  padding-bottom: 7.5em;
}

h1, form, ul, #selected-name {
  padding: 4% 6%;
  box-shadow: 0 0 6px 1px #100C08;
}

h1 {
  margin: auto;
  background: #223561;
  font-size: 2.5rem;
  color: #F2F2F2;
}

h2 {
  margin: 0.4em auto 0.8em;
  text-decoration: 3px underline;
  text-underline-offset: 6px;
  font-size: 1.8rem;
}

header {
  padding: 0 0 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #FFEECA;
}

label,
input,
.form-btn,
.error-msg {
  margin: 0.5em auto;
}

label {
  font-size: 1.7rem;
}

input {
  border: 2px solid #333333;
  border-radius: 5px;
  line-height: 2rem;
  width: 60%;
  font-size: 1.3rem;
  color: #0c0f0a;
  transition: 0.3s;
}

input:focus {
  line-height: 2.7rem;
}

button {
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.form-btn {
  border: none;
  border-radius: 50px;
  padding: 0.4em 0.8em;
  background: #3066BE;
  font-size: 1.2rem;
  color: #F2F2F2;
}

ul {
  margin: 1.5em auto;
  background: #FFEECA;
  list-style-type: none;
}

#ul-msg,
li {
  margin: 0.6em auto;
  font-size: 1.2rem;
}

li {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 80%;
  font-size: 1.4rem;
}

#list-element {
  margin: auto auto auto 0;
}

#delete-btn {
  margin: auto 0 auto auto;
  border: 2px solid #333333;
  border-radius: 6px;
  padding: 0.2em 0.4em;
  background: #FFFFFF;
  color: #0c0f0a;
  font-size: 1.2rem;
}

#delete-btn:hover {
  background: #CCCCCC;
}

#btn-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 4% 6%;
  max-width: 80vw;
}

.main-btn  {
  border: none;
  border-radius: 10px;
  padding: 0.6em 0.8em;
  font-size: 1.3rem;
  box-shadow: 0 0 2px 4px #FFFFFF;
  width: 45%;
}

.main-btn:hover, .form-btn:hover {
  opacity: 80%;
}

.main-btn:active, .form-btn:active {
  box-shadow: 0 0 1px 1px #333333;
}

#select-btn {
  background: #3066BE;
  color: #F6F6F4;
}

#reset-btn {
  background: #8C235A;
  color: #F6F6F4;
}

#selected-name {
  margin: 1.5rem auto;
  background: #E3E3DC;
  font-size: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
  background: #0c0f0a;
  height: 6em;
  width: 100%;
}